/*
   CSS Created by: Sisko VL
   Date: July 7th 2017
   Last Update: Oct 15th 2017
*/

#hit{
    border: 2px solid red;
    border-radius : 8px;
    background-color:white;
    vertical-align: middle;
    color:red;
    font-family:Comic Sans MS,sans-serif;
    font-size: 15px;
}
#hit:hover{
   background-color: red;
   color:white;
}

#stand{
   border: 2px solid orange;
   border-radius : 8px;
   background-color:white;
   vertical-align: middle;
   color:orange;
   font-family:Comic Sans MS,sans-serif;
   font-size: 15px;
}
#stand:hover{
   background-color: orange;
   color: white;
}

#deal{
   border: 2px solid lime;
   border-radius : 8px;
   background-color:white;
   vertical-align: middle;
   color:green;
   font-family:Comic Sans MS,sans-serif;
   font-size: 15px;
}
#deal:hover{
   background-color: lime;
   color: white;
}

#message{
   color:red;
   font-weight:bold;
   font-family:Comic Sans MS,sans-serif;
   font-size: 25px;
}
#message1{
   color:red;
   font-weight:bold;
   font-family:Comic Sans MS,sans-serif;
}
#money{
   position: absolute;
   left: 80px;
   top:455px;
   color:red;
   font-family:Comic Sans MS,sans-serif;
   font-size:x-large
}
#counter{
   position: absolute;
   margin-left: 320px;
   left:30px;
   top: 430px;
   color:white;
   font-size:large;
   font-family:Comic Sans MS,sans-serif;
}
#dealerHand{
   position: absolute;
   left: 50px;
   top:60px;
}
#dealer{
   position: absolute;
   left:30px;
   top:20px;
   color: white;
   font-size:large;
   font-family:Comic Sans MS,sans-serif;
}
#nextToMe{
   position: absolute;
   left:295px;
   top:30px;
   color: white;
   font-size:large;
   font-family:Comic Sans MS,sans-serif;
}
#outcome{
   position: absolute;
   left:300px;
   top:5px;
   color: white;
   font-size:large;
   font-family:Comic Sans MS,sans-serif;
}
#playerHand{
   position: absolute;
   left: 50px;
   top:260px;
}
#player{
   position: absolute;
   left:30px;
   top:220px;
   color:white;
   font-size:large;
   font-family:Comic Sans MS,sans-serif;
}
